*.bak
*.DBG
*.exe
*.dll
*.pdb
*.VOM
LOG??????.MDB
cnpjieuf/CNPJmg.zip
cnpjieuf/CNPJmgbx.zip
*.LOG
*.gid
mana5/configur/manerr.cdx
mana5/configur/manerr.dbf
mana5/ErrorLog.Htm
mana5/configur/manerr.cdx
mana5/configur/manerr.dbf
folha/ErrorLog.Htm
wrpt/rpt_schema.ldb
